{% extends "english/main_content.html" %}

{% block content %}

    	  <div class="container">
            <div class="row food_row" id="chickens">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[0] }}" alt="chickens" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[1] }}" alt="chickens" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[2] }}"alt="chickens" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div> 

            <div class="row food_row" id="pizza">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[3] }}" alt="pizza" class="img-fluid" title="american pizza"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[4] }}" alt="pizza" class="img-fluid" title="greek pizza"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[5] }}" alt="pizza" class="img-fluid" title="Italian pizza"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div> 

            <div class="row food_row" id="burger">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[6] }}" alt="burger" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[7] }}" alt="burger" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[8] }}" alt="burger" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div> 

            <div class="row food_row" id="cakes">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[9] }}" alt="cakes" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[10] }}" alt="cakes" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[11] }}" alt="cakes" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div> 

            <div class="row food_row" id="bread">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[12] }}" alt="bread" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[13] }}" alt="bread" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[14] }}" alt="bread" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div> 
            
            <div class="row food_row" id="juices">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[15] }}" alt="juices" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[16] }}" alt="juices" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[17] }}"  alt="juices" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div> 

            <div class="row food_row" id="popcone">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[18] }}" alt="popcone" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[19] }}" alt="popcone" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[20] }}" alt="popcone" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div>

            <div class="row food_row" id="ndazi">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[21] }}" alt="ndazi" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[22] }}" alt="ndazi" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[23] }}" alt="ndazi" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div>

           <div class="row food_row" id="sambussa">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[24] }}" alt="sambussa" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[25] }}" alt="sambussa" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[26] }}" alt="sambussa" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div> 

           <div class="row food_row" id="brochette">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[27] }}" alt="brochette" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[28] }}" alt="brochette" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[29] }}" alt="brochette" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div> 

            <div class="row food_row" id="beignet">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[30] }}" alt="beignet" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[31] }}" alt="beignet" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[32] }}" alt="beignet" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div>

            <div class="row food_row" id="chawarwa">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[33] }}" alt="chawarwa" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[34] }}" alt="chawarwa" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[35] }}" alt="chawarwa" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div> 

            <div class="row food_row" id="pasta">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[36] }}" alt="pasta" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[37] }}" alt="pasta" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[38] }}" alt="pasta" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
            </div>

            <div class="row food_row" id="pvin">
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[39] }}"  alt="pvin" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[40] }}" alt="pvin" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
                <div class="col-md-3 food_row-cols">
                    <img src="{{ current_im[41] }}" alt="pvin" class="img-fluid"><br>
                    <a href="{{ url_for('contact') }}">Order now</a>
                </div>
               
            </div>   
        </div>

{% endblock %}