{% extends "english/main_content.html" %}

{% block content %}
        <div class="row">
            <div  class="col-md-3"></div>
              <div class="col-md-6" style="text-align: justify;">
                <div class="container">
                  <br><br>
                 <p><b>Our Addresses:</b><br><br>
              <img src="{{ url_for('static', filename = 'images/113-1134899_download.png') }}" class="images-icon"> Located in NORD-KIVU, city of GOMA, commune of GOMA district KYIECHERO very close to the bus stop ULPGL SALOMON campus</p>
              <p><br><img src="{{ url_for('static', filename = 'images/telephone-icon.png') }}" class="images-icon"><a href="tel:+243-973-615-181">+243973615181 </a>    |<a href="tel:+243-973-615-181">+243973615181</a><br><br>
              <img src="{{ url_for('static', filename = 'images/images.png') }}" class="images-icon">   <a href="mailto:bijouxnzuko@gmail.com?cc=bijouxnzuko@gmail.com" target="_blank">bijouxnzuko@gmail.com</a></p>
                </div>
              </div>
            <div  class="col-md-3"></div>
         
        </div> 

{% endblock %}