{% extends "english/main_small.html" %}

{% block body %}

		<div class="pizzaclass">
			<img src="{{ url_for('static', filename = 'images/PASTASPAGE/spaghetti+with+meat+sauce11.jpg') }}" alt="Meat +sauce pasta" class="img-fluid">
			<h2>Spaghetti With Meat</h2>
			<a href="tel:+243-973-615-181">Order Now</a>
		</div>
		<div class="pizzaclass">
			<img src="{{ url_for('static', filename = 'images/PASTASPAGE/mh_1036_spaghetti_hd.jpg') }}" alt="Delicous Spaghetti" class="img-fluid">
			<h2>Delicous Spaghetti</h2>
			<a href="tel:+243-973-615-181">Order Now</a>
		</div>
		<div class="pizzaclass">			
			<img src="{{ url_for('static', filename = 'images/PASTASPAGE/food-john-alberti-pasta-with-italian-sausage.jpg') }}" alt="ialian sausage" class="img-fluid">
			<h2>Italian Pasta Sausage</h2>
			<a href="tel:+243-973-615-181">Order Now</a>
		</div>

{% endblock %}