{% extends "french/main_contentfre.html" %}
{% block bodyfre %}

        <div class="row">
            <div  class="col-md-3"></div>
              <div class="col-md-6" style="text-align: justify;">
                <div class="container">
                  <br><br>
                    <h5 class="text-warning"><b>A PROPOS DE LA GIBECIAIRE D'OR</b></h5><br>
                    <p><b class="text-warning">LA GIBECIAIRE D'OR</b> situer en ville de GOMA/NORD-KIVU,<b class="text-warning">LA GIBECIEAIRE D'OR </b>Alimentation est un shop en service mixte pour vos differents ceremonie ainsi que vos differentes manifestations,dans le but de notre creation qui n est autre que de rentre la vie des citoyen de GOMA et ses environs heureux en leur vournissant des gateaux de qualite pour leurs MARIAGEs,ANNIVERSAIRES ainsi que d'autres circonstance des la vie necessitant un special gateaux pour la meilleur celebration les gateaux sont notres specialite et de la nous sommes meilleur a notre genre.<br><br>

                    Chez <b class="text-warning">LA GIBECIAIRE D'OR</b> vous trouverez non seulement des gateaux de votre choix ainsi que desirs mais aussi des poules ainsi que des oeufs bien traiter et bien produit pour vous.</p>

                    <p><b class="text-warning">LA GIBECIAIRE D'OR</b> est un alimentation pour vente biens et services de qualite,chez nous vous y trouverez des des gateaux,des nourriture a service rapide(take a way),des jus naturel de votre choix,poules et oeufs de qualite ainsi utres choses vous sont disponible chez <b class="text-warning">LA GIBECIAIRE D'OR</b></p>
                </div>
              </div>
            <div  class="col-md-3"></div>
         
        </div> 

{% endblock %}