{% extends "french/main_smallfre.html" %}
{% block bodyfre %}

		<div class="pizzaclass">
			<img src="{{ url_for('static', filename = 'images/CAKESPAGE/BIRTHDAY.jpg') }}" alt="Birthday Cake" class="img-fluid">
			<h2>Birthday Cakes</h2>
			<a href="tel:+243-973-615-181">commander</a>
		</div>
		<div class="pizzaclass">
			<img src="{{ url_for('static', filename = 'images/CAKESPAGE/WEDDING.jpg') }}" alt="Wedding Cake" class="img-fluid">
			<h2>Wedding Cakes</h2>
			<a href="tel:+243-973-615-181">commander</a>		
		</div>
		<div class="pizzaclass">			
			<img src="{{ url_for('static', filename = 'images/CAKESPAGE/graduation.jpg') }}" alt="Graduation Cake" class="img-fluid">
			<h2>Graduation Cakes</h2>
			<a href="tel:+243-973-615-181">commander</a>
		</div>
		
		

{% endblock %}