@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap');

*{box-sizing: border-box;}

/*stylesheet for homepage*/
/*above the header*/

body{
	font-family: 'Cormorant Garamond', serif;
}
.clear_fix{
	clear:both;
	display: table;
	content: ""
}
div#gibeciaire_start{
	background: linear-gradient(to bottom right, #10cc00 55%, yellow 50%);
	height: 50px;
	font-weight: bold;
	padding-top: 3px;
}

div#gibeciaire_start h1{
	color: #ffcc00;
	line-height: 23px;
	font-size: 1em;
}

div#gibeciaire_start h1 span{
	color: red;
	margin-left: -200px;
	letter-spacing: -2px;
}

div#gibeciaire_start h1 small{
	word-spacing: -2px;
	color: red;
	margin-left: -4px;
	font-size: 0.8em;
}

/*styling header */
header{
	background-color: rgba(0,0,0,0.9);
	padding:2px 0px;
}

div#gibeciaire_collapse ul{
	margin-left: auto;
	margin-right: 60px;
}
div#gibeciaire_collapse .navigation_links{
	color: rgba(250, 200, 50,1);
	font-size: 14px;
}
div#gibeciaire_collapse .navigation_links:hover{
	background-color: rgba(0, 0, 0,0.9);
	border-radius: 5px;
}
div#gibeciaire_collapse a#language{
	margin-left: 50px;
	font-weight: bold;
	font-size: 16px;
	margin-right: -55px;
	background-color: rgba(255,154,0,0.4);
	color: rgba(0,255,0,0.8);
}
div#gibeciaire_collapse a#language:hover{
	background-color: rgba(255,154,0,1);
}
div#gibeciaire_collapse div#dropdown_links{
	background-color: rgba(0, 0, 0,0.9); 
}
div#gibeciaire_collapse div#dropdown_links a{
	color: rgba(255,255,255,0.9);
	font-size: 14px;
}
div#gibeciaire_collapse div#dropdown_links a:hover{
	color: rgba(250, 200, 50,1);
}
div#gibeciaire_collapse div#dropdown_links p{
	color: rgba(100, 255, 100,1);
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: -5px;
	margin-left: 10px;
}

nav a#gibeciaire_brand{
	color: #ffcc00;
	font-weight: bold;
	font-size: 18px;
	line-height: 19px;
}

nav a#gibeciaire_brand span{
	color: red;
	margin-left: 62px;
}

div#main_slide img.main_slide_imag{
	width: 100%;
	height: 20%;
}

/*Kitchen and welcome to gibeciaire restaurent division styling */
div#kitchen_welcome_gibaciaire img{
	width: 100%;
	opacity: 0.9;
	height: 100%;
}
div#kitchen_welcome_gibaciaire #kitchen_welcome_gibaciaire_col1{
	margin-left:-15px;
}
div#kitchen_welcome_gibaciaire #kitchen_welcome_gibaciaire_col2{
	background-color: rgba(0,0,0,0.9);
	margin-right: 0px;
	margin-left: 15px;
	padding: 60px;
}
div#kitchen_welcome_gibaciaire #kitchen_welcome_gibaciaire_col2 h2{
	color: white;
	
}
div#kitchen_welcome_gibaciaire #kitchen_welcome_gibaciaire_col2 p{
	color: rgba(255,255,255,0.5);
	margin-top: 30px;
	text-align: justify;	
}

/* gibeciaire services styling */
div#gibeciaire_services{
	background-color:rgba(255,155,0,0.6);
	max-height: 600px;
	padding: 50px;
	overflow-y: hidden;
	color: rgba(0,0,0,1);
}
div#gibeciaire_services h4{
	text-align: center;
	margin-bottom: 40px;
	color: black;
	font-weight: bold;
}
div#gibeciaire_services p#first{
	text-align: center;
	margin-bottom: 80px;
}

div#gibeciaire_services div.services_divisions h6{
	margin-bottom: 25px;
	color: black;
	font-weight: bold;
}
div#gibeciaire_services div.services_divisions h6.serviceh6{
	margin-left: 70px;
}

div#gibeciaire_services div.services_transitions{
	width: 110px;
	height: 110px;
	margin-left: 70px;
	margin-bottom: 40px;
	-webkit-transition:width 0.5s height 0.5s, -webkit-transform 0.5s;
	transition: width 0.5s, transform 0.5s;
}
div#gibeciaire_services div.services_transitions img{
	width: 110px;
	height: 110px;
	margin-top: 3px;
	margin-left: 3px;
}
div#gibeciaire_services div.services_transitions:hover{
	width: 115px;
	height:115px;
	-webkit-transform: ;
	transform: rotate(55deg);
}

/*styling hot delicous meal division */

div#hot_delicous_meal{
	background-color: rgba(0,0,0,0.94);
	min-height: 900px;
	overflow: none;
	padding: 10px 0px;
}
div#hot_delicous_meal h4{
	color: rgba(255,155,0,1);
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 50px;
	text-align: center;
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

div#hot_delicous_meal p{
	text-align: center;
	color: rgba(255,155,0,0.5);
	margin-bottom: 50px;
}

div#hot_delicous_meal div.hot_delicous_meal_indivision{
	float: left;
	width: 50%;
	height: 100%;
}

div#hot_delicous_meal div.hot_delicous_meal_img img{
	width: 100%;
	height:100%;
}

div#hot_delicous_meal div.hot_delicous_meal_text{
	padding: 0px 25px;
	text-align: left;
	margin-left: 0px;
	background-color: rgba(0,0,0,0.95);
}
div#hot_delicous_meal div.hot_delicous_meal_text h6{
	color: rgba(255,155,0,1);
	margin:10px 0px;
	font-weight: bold;
	text-transform: capitalize;
	font-weight: bold;
}

div#hot_delicous_meal div.hot_delicous_meal_text p{
	
	text-align: left;
	margin-bottom: 20px;
	font-size: 12px;
}
div#hot_delicous_meal div.hot_delicous_meal_text a{
	
	text-align: center;
	margin-left: 20px;
	color: rgba(255,155,0,1);
	border:1px solid rgba(255,155,0,1); 
	padding: 3px;	
}
div#hot_delicous_meal div.hot_delicous_meal_text a:hover{
	
	text-decoration: none;
	font-weight: bold;
	color: rgba(0,0,0,1);
	background-color: rgba(255,155,0,1);
	font-weight: bold;
}

div#hot_delicous_meal div.hot_delicous_meal_row-cols{
	margin-right: -30px;
}
div#hot_delicous_meal div.hot_delicous_meal_rows{
	margin-left: 30px;
	margin-top: 7px;
}
/*styling clients enjoying cakes*/
div#clients_cakes_enjoy_section{
	margin-bottom: 5px;
}
div#clients_cakes_enjoy_section div.clients_cakes_enjoy_section_div{
	float: left;
	width: 25%;
}
div#clients_cakes_enjoy_section div.clients_cakes_enjoy_section_div img{
	width: 100%;
	height: 10%;
}

/*styling orientations_division*/
div#orientations_division{
	background-color: rgba(0,0,0,1);
	height: 500px;
	margin-top: 20px;
	margin-right: 0.8px;
}
div#orientations_division iframe{
	height: 400px;
	margin-top: 40px;
	width: 135%;
	border:none;
}
div#orientations_division div#orientations_division_col1 img{
	width: 100%;
	opacity: 0.8;
	height: 80%;
}
div#orientations_division div#orientations_division_col2{
	
	padding: 20px;
	
}
div#orientations_division div#orientations_division_col2 a{
	margin-left: 7px;
	padding: 10px 7px;
	border:1px solid rgb(204, 153, 0);
	color:rgb(204, 153, 0);
	font-size: 14px;
	font-weight: bold;
}
div#orientations_division div#orientations_division_col2 a:hover{
	text-decoration: none;
	color:rgba(0,0,0,0.95);
	background-color: rgb(204, 153, 0);
}
/* styling a footer */
footer{
	min-height: 300px;
	background-color: rgba(255,155,0,0.6);
	padding: 80px;
	color: rgba(0,0,0,1);
}
img.images-icon{
	width: 30px;
	height: 30px;
}
div.footer_division{
	float: left;
	width: 31%;
	margin-left: 40px;
}
div.footer_division:first-child{
	
	margin-left: 0px;
}
div.footer_division h4{
	margin-bottom: 40px;
}
footer p#footer_p{
	margin-top: 60px;
	margin-bottom:-70px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
div.footer_division ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
div.footer_division ul li{
	margin-bottom:20px; 
}



/* media queries */
@media only screen and (max-width: 768px){

div#gibeciaire_start h1{
	
	font-size: 0.8em;
}	

div#gibeciaire_collapse a#language{
	margin-left: 0px;
	margin-right: 0px;
	width: 70px;
	padding:5px;
	float: right;
}

div#gibeciaire_services div.services_divisions h6.serviceh6{
	margin-left: -15px;
}
div#hot_delicous_meal div.hot_delicous_meal_row-cols{
	margin-right: 0px;
	margin-top: 7px;
}
div#hot_delicous_meal div.hot_delicous_meal_rows{
	margin-left: -10px;
}
div#hot_delicous_meal{
	background-color: rgba(0,0,0,0.94);
	min-height: 900px;
	overflow: none;
	padding-top: 70px;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
}

/*Kitchen and welcome to gibeciaire restaurent division styling */
div#kitchen_welcome_gibaciaire #kitchen_welcome_gibaciaire_col1{
	margin-right: 0px;
	margin-left:0px;
}
div#kitchen_welcome_gibaciaire #kitchen_welcome_gibaciaire_col1{
	
}
div#kitchen_welcome_gibaciaire #kitchen_welcome_gibaciaire_col2{
	margin-right: 15px;
	margin-left: 0px;
	padding: 30px;
}
div#kitchen_welcome_gibaciaire #kitchen_welcome_gibaciaire_col2 h2{
	font-size: 1em;
	text-align: center;	
}
/* gibeciaire services styling */
div#gibeciaire_services{
	min-height: 1180px;
	padding: 30px;
}
div#gibeciaire_services h6{
	text-align: center;
}
div#gibeciaire_services p#first{
	margin-bottom: 20px;
	font-size: 14px;
	text-align: justify;
}
div#gibeciaire_services p{
	font-size: 14px;
	text-align: justify;
}
div#gibeciaire_services div.services_transitions{
	margin-left: 90px;
	margin-bottom: 40px;
	margin-top: 10px;
}
/*styling hot delicous meal division */

div#hot_delicous_meal{
	min-height: 1000px;
	padding: 10px 0px;
}
div#hot_delicous_meal h4{
	margin-bottom: 30px;
}

div#hot_delicous_meal p{
	text-align: justify;
	color: rgba(255,155,0,0.5);
	margin-bottom: 30px;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 10px;

}

div#hot_delicous_meal div.hot_delicous_meal_img img{
	width: 100%;
}

div#hot_delicous_meal div.hot_delicous_meal_text{
	padding: 0px 2px;
	text-align: left;
	margin-left: 0px;
}
div#hot_delicous_meal div.hot_delicous_meal_text p{
	font-size: 11px;
	text-align: justify;
}

div#hot_delicous_meal div.hot_delicous_meal_row-cols{
	margin-right: 10px;
	margin-bottom: 10px;
}
div#hot_delicous_meal div.hot_delicous_meal_rows{
	margin-left: -6px;
	margin-top: 0px;
}
/*styling clients enjoying cakes*/

div#clients_cakes_enjoy_section div.clients_cakes_enjoy_section_div{
	margin:0px;
	width: 100%;
	border:1px solid yellow;
}


/*styling orientations_division*/
div#orientations_division{
	min-height: 1200px;
	margin-top: 0px;
	margin-right: 0px;
}
div#orientations_division iframe{
	height: 800px;
	margin-top: 30px;
	width: 100%;
}
div#orientations_division div#orientations_division_col1{
	height: 310px;
}
div#orientations_division div#orientations_division_col1 img{
	width: 100%;
	margin:20px 0px;
	margin-left: 7px;
	height: 300px;
}
div#orientations_division div#orientations_division_col2{
	
	padding-top: 20px;
	padding-right: 0px;
	padding-left: 50px
	margin-top:-100px;
	
}
div#orientations_division div#orientations_division_col2 a{
	margin-left: 0px;
	padding: 7px;
	font-size: 12px;
}

/* styling a footer */
footer{
	min-height: 930px;
	padding: 40px;
}

footer p#footer_p{
	margin-top: 60px;
	font-size: 14px;
	margin-left: -20px;

}





















}